<nav>
    <ul>
        <li>
            <p-skeleton width="15rem" height="3rem"></p-skeleton>
        </li>
        <li>
            <p-skeleton width="8rem" height="3rem"></p-skeleton>
        </li>
        <li>
            <p-skeleton width="10rem" height="3rem"></p-skeleton>
        </li>
        <li>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" placeholder="Pesquisar" pInputText style="width: 40rem;">
            </span>
        </li>
        <li>
            <p-skeleton width="10rem" height="3rem"></p-skeleton>
        </li>
        <li>
            <p-skeleton width="10rem" height="3rem"></p-skeleton>
        </li>
        <li>
            <p-skeleton width="12.5rem" height="3rem"></p-skeleton>
        </li>
    </ul>
</nav>