<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">Confirmação</ng-template>
        <ng-template pTemplate="subtitle">Confirme os dados</ng-template>
        <ng-template pTemplate="content">
            <div class="field col-12">
                <!-- Informações Pessoais -->
                <label for="primeiroNome">Nome</label>
                <div><b>{{ (clienteForm.get('cliente')?.get('primeiroNome')?.value ?? '') + ' ' + (clienteForm.get('cliente')?.get('sobrenome')?.value ?? '') || '-' }}</b></div>
            </div>
            <div class="field col-12">
                <label for="genero">Genero</label>
                <div><b>{{ clienteForm.get('cliente')?.get('genero')?.value?.genero || '-' }}</b></div>
            </div>
            <div class="field col-12">
                <label for="email">Email</label>
                <div><b>{{ clienteForm.get('cliente')?.get('email')?.value || '-' }}</b></div>
            </div>
            <div class="field col-12">
                <label for="cpf">CPF</label>
                <div><b>{{ clienteForm.get('cliente')?.get('cpf')?.value || '-' }}</b></div>
            </div>
            <div class="field col-12">
                <label for="dtNascimento">Data de Nascimento</label>
                <div><b>{{ clienteForm.get('cliente')?.get('dtNascimento')?.value | date: 'dd/MM/yyyy' || '-' }}</b></div>
            </div>
            <div class="field col-12">
                <label for="tipoTelefone">Tipo de Telefone</label>
                <div><b>{{ clienteForm.get('cliente')?.get('tipoTelefone')?.value?.tipo || '-' }}</b></div>
            </div>
            <div class="field col-12">
                <label for="telefone">Telefone</label>
                <div><b>{{ clienteForm.get('cliente')?.get('telefone')?.value || '-' }}</b></div>
            </div>
            <!-- Endereço -->
            <div class="field col-12">
                <label for="cep">CEP</label>
                <div><b>{{ clienteForm.get('endereco')?.get('cep')?.value || '-' }}</b></div>
            </div>
            <div class="field col-12">
                <label for="tipoResidencia">Tipo de Residência</label>
                <div><b>{{ clienteForm.get('endereco')?.get('tipoResidencia')?.value?.tipo || '-' }}</b></div>
            </div>
            <div class="field col-12">
                <label for="cep">CEP</label>
                <div><b>{{ clienteForm.get('endereco')?.get('cep')?.value || '-' }}</b></div>
            </div>
            <div class="field col-12">
                <label for="logradouro">Logradouro</label>
                <div><b>{{ clienteForm.get('endereco')?.get('logradouro')?.value || '-' }}</b></div>
            </div>
            <div class="field col-12">
                <label for="bairro">Bairro</label>
                <div><b>{{ clienteForm.get('endereco')?.get('bairro')?.value || '-' }}</b></div>
            </div>
            <div class="field col-12">
                <label for="numeroResidencia">Número da Residência</label>
                <div><b>{{ clienteForm.get('endereco')?.get('numeroResidencia')?.value || '-' }}</b></div>
            </div>
            <div class="field col-12">
                <label for="cidade">Cidade</label>
                <div><b>{{ clienteForm.get('endereco')?.get('cidade')?.value || '-' }}</b></div>
            </div>
            <div class="field col-12">
                <label for="estado">Estado</label>
                <div><b>{{ clienteForm.get('endereco')?.get('estado')?.value?.nome|| '-' }}</b></div>
            </div>
            <div class="field col-12">
                <label for="pais">País</label>
                <div><b>{{ clienteForm.get('endereco')?.get('pais')?.value?.pais || '-' }}</b></div>
            </div>            
            <!-- Adicione mais campos conforme necessário -->
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-between">
                <p-button label="Voltar" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
                <p-button label="Confirmar" (onClick)="complete()" icon="pi pi-angle-right" iconPos="right" styleClass="p-button-success"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>
