<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title"> Informação Pessoal</ng-template>
        <ng-template pTemplate="subtitle"> Insira suas informações pessoais. </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid">
                <div class="field">
                    <label for="primeiroNome">Primeiro Nome</label>
                    <input
                        #primeiroNome="ngModel"
                        id="primeiroNome"
                        type="text"
                        required
                        pInputText
                        [(ngModel)]="personalInformation.primeiroNome"
                        [ngClass]="{ 'ng-dirty': (primeiroNome.invalid && submitted) || (primeiroNome.dirty && primeiroNome.invalid) }"
                    />
                    <small 
                        *ngIf="(primeiroNome.invalid && submitted) || (primeiroNome.dirty && primeiroNome.invalid)" 
                        class="p-error">Primeiro nome é necessario.
                    </small>
                </div>
                <div class="field">
                    <label for="sobrenome">Sobrenome</label>
                    <input #sobrenome="ngModel" 
                        id="sobrenome" 
                        type="text" 
                        required 
                        pInputText 
                        [(ngModel)]="personalInformation.sobrenome" 
                        [ngClass]="{ 'ng-dirty': (sobrenome.invalid && submitted) || (sobrenome.dirty && sobrenome.invalid) }" />
                    <small class="p-error" 
                        *ngIf="(sobrenome.invalid && submitted) || (sobrenome.dirty && sobrenome.invalid)">sobrenome é necessario.
                    </small>
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input #email="ngModel" 
                        id="email" type="text" 
                        required 
                        pInputText 
                        [(ngModel)]="personalInformation.email" 
                        [ngClass]="{ 'ng-dirty': (email.invalid && submitted) || (email.dirty && email.invalid) }" />
                    <small class="p-error" 
                        *ngIf="(email.invalid && submitted) || (email.dirty && email.invalid)">Email é necessario.
                    </small>
                </div>
                <div class="field">
                    <label for="numeroTelefone">Número de Telefone</label>
                    <input #numeroTelefone="ngModel" 
                        id="numeroTelefone" 
                        type="text" 
                        required 
                        pInputText 
                        [(ngModel)]="personalInformation.numeroTelefone" 
                        [ngClass]="{ 'ng-dirty': (numeroTelefone.invalid && submitted) || (numeroTelefone.dirty && numeroTelefone.invalid) }" />
                    <small class="p-error" 
                        *ngIf="(numeroTelefone.invalid && submitted) || (numeroTelefone.dirty && numeroTelefone.invalid)">Número de telefone é necessario.
                    </small>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end">
                <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>